/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  /*background: url(../images/bg.jpg) no-repeat;
  background-size: 100% 100%;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}
.footer{
    border: 1px solid;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  
}
/* Make the masthead heading the same height as the navigation */
h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  float: left;
}
header {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    border: 1px solid;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

header h1#logo {
    display: inline-block;
    height: 150px;
    line-height: 100px;
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}


.mainnav{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.mainnav ul{
  margin: 0 auto;
  padding: 0px;
  border: 1px solid;
  width: auto;
  display: inline-block;

}
.mainnav li{
    display: inline;
    border: 1px solid;
    text-align: center;
    padding:10px 0px 10px 0px;
    margin-left:0px;
    margin-right: 0px;
    margin-top: 0px
    margin-bottom:0px;

}
.mainnav a {
    line-height: 100px;
    margin: 10px;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.content{
    margin-top: 150px;
    border: 1px solid;
}
header nav a:hover {
    color: white;
}
header.smaller {
    height: 75px;
}
header.smaller h1#logo {
    height: 50px;
    line-height: 75px;
    font-size: 30px;
}
header.smaller nav a {
    line-height: 50px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.bannerslider{
  padding: 0px;
}
.bannerslider img{
    width: 100%;
}
.what-we-do{
  margin-bottom:5%;
}
.top-box h2{
  text-align: center;
  color: #888;
  font-size: 3em;
  font-family: 'bebas_neueregular';
  margin-bottom: 20px;
}
hr {
  border-bottom: 1px solid #CCC;
  border-top: none;
  margin: 0;
  width: 500px;
  display: inline-block;
  margin-top: -14px;
  margin-bottom: 14px;
  margin-right: auto;
  margin-left: auto;
}
.top-box{
  text-align:center;
  margin-bottom: 2%;
}
.top-box p{
  color: #999;
  font-size:1em;
  line-height: 1.5em;
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
.tile{

}
.tile div{
    text-align: center;
}
.tile div h3{
    float:none;
}

.container{
    max-width: 1000px;
}
/* Customize container */
@media (min-width: 768px) {
  /*.container {
    max-width: 730px;
  }*/
}
.container-narrow > hr {
  margin: 30px 0;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
 
}
