<div class="containter">
	 <div class="row">
	 	<div class="col-md-6">
	 		<div>
				<h2>Realix - Registered Office</h2>
				#B 211; Ekdantay Apartment,
				Near Toll Plaza; A/P Kasheli;
				Bhiwandi, Dist Thane, 421302, 
				MH, India<br>
				
				<span class="phone">022 4100 7303</span><br>
				<span class="fax">+91 868 9999 588 | +91 8108 222 881 | +91 8237 821 988</span>
			</div>
			<div class="spacer10"></div>
			<div>
				<h2>Realix - Corporate Office</h2>
				# 46, Ground Floor,
				Cine Wonder Mall, Kapurbawdi,
				G B Road, Thane W, 400601,
				MH, India<br>

				<span >022 4100 7303</span><br>
				<span class="fax">+91 868 9999 588 | +91 8108 222 881 | +91 8237 821 988</span>
			</div>
			<div class="spacer30"></div>
			<div>
				Enquiries: sales@envirosafetysolutions.in 
				Service: service@envirosafetysolutions.in 
				Technical support: techsupp@envirosafetysolutions.in 
				Accounts: accounts@envirosafetysolutions.in 
				Career opportunities: info@envirosafetysolutions.in 
			</div>
	 	</div>
        <div class="col-md-6">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center contact-header"><h2>Contact us</h2></legend>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="cf icon-user"></i></span>
                           	<div class="col-md-8">
                                <input id="fname" name="name" type="text" placeholder="First Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="cf icon-user"></i></span>
                            <div class="col-md-8">
                                <input id="lname" name="name" type="text" placeholder="Last Name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="cf icon-mail-1"></i></span>
                            <div class="col-md-8">
                                <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="cf icon-mobile"></i></span>
                            <div class="col-md-8">
                                <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="cf icon-pencil"></i></span>
                            <div class="col-md-8">
                                <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>