<div id="content" class="content clearfix">
        <div id="banner" class="bannerslider col-md-12">
            <img src="../images/banner1.jpg">
        </div>
        <div class="what-we-do">
            <div class="top-box">
                <h2>What We do</h2>
                <hr>
                <p>We all did hear of disasters caused by leakage of gases, we can still remember the Bhopal Gas Tragedy or Piper Alpha Disaster in the North Sea. Many more examples start flashing from all across the world. The very number and volume of toxic and flammable gases found in waste and used in treatment highlight potential hazards for workers and plant. It’s disastrous and next could be anyone of us. So what are we waiting for ?
                </p>
                <p>
                    Enviro Safety Solutions, is just not another gas detection company, at ESS, we work towards providing the best solutions for a safe environment, as we understand that Gas Leaks are one the most fearful hazards in the process industry and a lot is at stake.

We deeply believe to provide a reliable product, so we follow, Europe's leading Gas Detection manufacturers, Crowcon Detection Instruments Ltd., a Halma group company. From North Sea oil platforms to South American steel mills, customers rely on Crowcon gas detectors to keep them safe. For over 40 years Crowcon have been developing and manufacturing high quality products with a reputation for reliability and technical innovation.
                </p>
            </div>
            <div class="row tile">
                <div class="col-md-4">
                    <div class="grid_img">
                        <img src="images/e1.png" alt=""/>
                    </div>
                    <h3>Products</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                </div>
                <div class="col-md-4">
                    <div class="grid_img">
                        <img src="images/e2.png" alt=""/>
                    </div>
                    <h3>Services and Support</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                </div>
                <div class="col-md-4">
                    <div class="grid_img">
                        <img src="images/e3.png" alt=""/>
                    </div>
                    <h3>Offers</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                </div>
            </div>
        </div>
         <div class="company-new">
            <div class="top-box">
                <h2>Company News</h2>
                <hr>
            </div>
            <div class="row tile">
                <div class="col-md-3">
                    <div class="grid_img">
                        <img src="../images/pic1.jpg" alt=""/>
                    </div>
                    <h3>Products</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                </div>
                <div class="col-md-3">
                    <div class="grid_img">
                        <img src="../images/pic1.jpg" alt=""/>
                    </div>
                    <h3>Services and Support</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                </div>
                <div class="col-md-3">
                    <div class="grid_img">
                        <img src="../images/pic1.jpg" alt=""/>
                    </div>
                    <h3>Offers</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                </div>
                <div class="col-md-3">
                    <div class="grid_img">
                        <img src="../images/pic1.jpg" alt=""/>
                    </div>
                    <h3>Offers</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                </div>
            </div>
        </div>
</div>
