<div class="content about">
	<div class="top-box">
                <h2>What we provide</h2>
                <hr>
                <p>Our Services are not only for Oil & Gas industry, but we also provide solutions to Water, Steel and Winery & Brewery industries. Both fixed and portable gas detection equipment are available, based on a solid foundation of expertise in mechanical, electronic and software design and an understanding of the core physics and chemistry of gas detection. Accreditation and certification are fundamental to our approach and we work closely with the company to ensure products are designed and built to meet the requirements of industry leading equipment certification and performance standards.
                </p>
                <div class="bulets2" style="list-style:square; color:#333;">
                    <ul>
                          <li>
                            <p>Oil, gas and chemical production</p>
                          </li>
                          
                         <li>
                           <p>Utilities</p>
                         </li>
                         <div class="bulets3">
                           <ul>
                               <li>
                                 <p>Gas distribution</p>
                               </li>
                               <li>
                                 <p>Water industry</p>
                               </li>
                               <li>
                                 <p>Telecommunications</p>
                               </li>
                               <li>
                                 <p>Power distribution</p>
                               </li>
                               </ul>
                           </div>
                        <li>
                             <p>Heating, ventilation &amp; air conditioning</p>
                        </li>
                        <li>
                           <p>Construction</p>
                        </li>
                        <li>
                           <p>Manufacturing eg automotive</p>
                         </li>
                         <li>
                           <p>Brewing, distilling and wine making</p>
                         </li>
                         <li>
                            <p> Food processing plants</p>
                          </li>
                          
                           <li>
                             <p>Emergency and rescue services</p>
                           </li>
                           <li>
                             <p>Many other industries </p>
                           </li>
                    </ul>
                </div>
    </div>
</div>